  /*Homepage*/
  .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    padding: 50px;
    padding-top: 0%;
    padding-bottom: 1%;
    
    
  }
  #order-id{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
  }
  .news{
    background-color: rgb(199, 199, 184);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    
  }
  .news1{
    grid-column: 1/4;
    grid-row: 2;
    background-color: rgb(	107, 112, 92);
    font-size: 40px;
    
  }
  .news2{
  grid-column: 1;
  grid-row: 3/4;
  border: 2px solid rgb(	107, 112, 92);
  background-color: white;
  color: black;
  }
  .news3{
    grid-column: 2;
    grid-row: 3/4;
    background-color: black;
    color: white;
  }
  .news4{
    grid-column: 3;
    grid-row: 3/4;
  }
  
  /*Home page Media Queries, from Desktop first*/
  
  @media (max-width: 970px){
  
    #pizza-bellarito{
      width: 350px;
    }
    .news2{
      grid-column: 1/3;
      grid-row: 3/4;
    }
    .news3{
      grid-column: 1/4;
      grid-row: 4;
    }
    .news4{
      grid-column: 3/4;
      grid-row: 3/4;
    }
  }
  
  @media (max-width: 576px){
  
    h3{
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
    #pizza-bellarito{
      width: 80%;
    }
    .news2{
      grid-column: 1/4;
      grid-row: 4;
    }
    .news3{
      grid-column: 1/4;
      grid-row: 5;
    }
    .news4{
      grid-column: 1/4;
      grid-row: 3;
    }
  }